body {
    font-family: "Montserrat", "FontAwesome" !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #494a4d;
}

#home-social {
    margin-top: 1rem;
}

img {
    height: 35px;
}